.globalContainer {
    border: 1px solid black;
    padding: 0;
    margin: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.headerElement {
    font-size: smaller;
    cursor: pointer;
    margin: 0.5em;
}

.content {
    margin: 0.5em;
}

.elementName {
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    font-size: large;
}

.price {
    color: red;
    font-weight: 600;
}